[submodule "infra"]
	path = infra
	url = https://github.com/fabianoallex/delphi-api-infra-faa.git
[submodule "modules/horse"]
	path = modules/horse
	url = https://github.com/HashLoad/horse.git
[submodule "modules/pascal-common-faa"]
	path = modules/pascal-common-faa
	url = https://github.com/fabianoallex/pascal-common-faa.git
