SQL_QUERIES_MIG_0001           RCDATA "MIG.0001.sql"
SQL_QUERIES_EXEMPLO_FIND       RCDATA "EXEMPLO.FIND.sql"
SQL_QUERIES_EXEMPLO_FIND_COUNT RCDATA "EXEMPLO.FIND_COUNT.sql"
SQL_QUERIES_EXEMPLO_FIND_BY_ID RCDATA "EXEMPLO.FIND_BY_ID.sql"
SQL_QUERIES_EXEMPLO_INSERT     RCDATA "EXEMPLO.INSERT.sql"
SQL_QUERIES_EXEMPLO_UPDATE     RCDATA "EXEMPLO.UPDATE.sql"
SQL_QUERIES_EXEMPLO_DELETE     RCDATA "EXEMPLO.DELETE.sql"
